.dark .tabulator-table{
    color : white !important
}

.tabulator-col-title {
    text-align: center;
}

@media (min-width: 1000px) {
    .tabulator
    {
    width: fit-content;
    margin: auto
    }

}


.hidden-table {
    display: none !important;
}