.App-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #333;
  opacity: 0.8;
  color: #fff;

}

.logo {
  font-size: 1.5em;
  margin: 0 30px 0 20px;
  color: #fff;
}

a {
  text-decoration: none !important;
}

.indicator-infos {
  margin: auto;
  font-size: 2em;
}
.bg-odema{
background-color: #dead8f;
}



@media (min-width: 1000px) {
  .headerTitle{
    margin-left: 50px;
  }

}
