.configComponents{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* mobile-styles.css */
@media (max-width: 768px) {
  .marginCol{
    margin-bottom: 20px;
  }
  .headerTitle {
    text-align: center;
  }
}