@font-face {
  font-family: 'Roboto';
  src: url('./style/fonts/Roboto-Regular.ttf') format('woff2');
  src: url('./style/fonts/Roboto-Regular.ttf') format('woff');
}

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
