@font-face {
  font-family: 'Roboto';
  src: url('./style/fonts/Roboto-Regular.ttf') format('woff2');
  src: url('./style/fonts/Roboto-Regular.ttf') format('woff');
}
* {
  transition: background-color 0.5s ease;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  height : 100%;
  background-color: rgb(44, 44, 44);
}

 .dark {
  background-color: rgb(44, 44, 44);
  
}

.light {
  background-color: rgb(255, 255, 255);
}  